{% extends 'base.html' %} {% block title %}Chat | {{ chat.chat_name }}{%
endblock %} {% block content %}

<h1 class="mb-3">Chat | {{ chat.chat_name }}</h1>

<div id="messages">
  {% for chat_message in chat_messages %}
  <div id="message" class="card">
    <div class="card-body">
      <p id="message_details" class="card-subtitle mb-2">
        {{ User.query.get(chat_message.message_poster).username }} on {{
        chat_message.message_date_made.strftime('%d/%m/%Y') }} at {{
        chat_message.message_date_made.strftime('%H:%M %p').lower() }}:
      </p>
      <p id="message_content" class="pre-wrap-text card-text">
        {{ chat_message.message_content }}
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<hr />

<div class="send-message">
  <form
    method="POST"
    action="{{ url_for('chats_main.create_message', chat_name=chat.chat_name) }}"
  >
    {{ form.csrf_token }} {{ render_field(form.message) }}
    <button class="btn btn-primary" type="submit">
      <i class="bi bi-send"></i> Send
    </button>
    <input type="submit" hidden />
  </form>
</div>

<style>
  .pre-wrap-text {
      white-space: pre-line;
      margin-left: inherit;
  }
</style>

<script>
  document.querySelectorAll("textarea").forEach(function (textarea) {
    textarea.style.height = textarea.scrollHeight + "px";
    textarea.style.overflowY = "hidden";
    textarea.addEventListener("input", function () {
      this.style.height = "auto";
      this.style.height = this.scrollHeight + "px";
    });
  });
</script>

{% endblock %}
