{% extends 'base.html' %}

{% block title %}All Chats{% endblock %}

{% block content %}

<h1>All chats</h1>
{% if len(all_chats_list) > 0 %}
    <div id="all-chats">
        {% for chat in all_chats_list %}
            <div class="card" id="chat">
                <h3 class="chat_name">
                    <a href="{{ url_for('chats_main.chat_page', chat_name=chat.chat_name) }}">{{ chat.chat_name }}</a>
                    {% if chat.chat_name in joined_chats_names %}
                        <span id="joined-tick"><i class="fa-solid fa-circle-check"></i></span>
                    {% endif %}
                </h3>
                <p class="chat_description">{{ chat.chat_description }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No chats yet. Create one to get started!</p>
{% endif %}

{% endblock %}