{% extends 'base.html' %} {% block title %}All Chats{% endblock %} {% block
content %}

<h1>All chats</h1>
{% if (all_chats_list | length) > 0 %}
<div id="all-chats">
  {% for chat in all_chats_list %}
  <div class="card" style="width: 50%">
    <div class="card-body text-center">
      <h5 class="card-title">{{ chat.chat_name }}</h5>

      <p class="card-text">
        {% if chat.chat_description %} {% if (chat.chat_description | length) >
        100 %} {{ chat.chat_description[:100] }}... {% else %} {{
        chat.chat_description }} {% endif %} {% endif %}
      </p>
      <a
        href="{{ url_for('chats_main.chat_page', chat_name=chat.chat_name) }}"
        class="btn btn-primary"
        >Go to chat</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No chats yet. Create one to get started!</p>
{% endif %} {% endblock %}
