{% extends 'base.html' %} {% block title %}All Chats{% endblock %} {% block
content %}

<h1>All chats</h1>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#create-chat-modal"
>
  <i class="fa-solid fa-plus"></i> Create chat
</button>

<div
  id="create-chat-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="createChatModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="createChatModalTitle">Create chat</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('chats_main.create_chat') }}">
          {{ form.csrf_token }} {{ render_field(form.name) }} {{
          render_field(form.description) }}
          <button type="submit" class="btn btn-primary">Create chat</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<br />

{% if (all_chats_list | length) > 0 %}
<div id="all-chats">
  {% for chat in all_chats_list %}
  <div class="card" style="width: 50%">
    <div class="card-body text-center">
      <h5 class="card-title">{{ chat.chat_name }}</h5>

      <p class="card-text">
        {% if chat.chat_description %} {% if (chat.chat_description | length) >
        100 %} {{ chat.chat_description[:100] }}... {% else %} {{
        chat.chat_description }} {% endif %} {% endif %}
      </p>
      <a
        href="{{ url_for('chats_main.chat_page', chat_name=chat.chat_name) }}"
        class="btn btn-primary"
        >Go to chat</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No chats yet. Create one to get started!</p>
{% endif %} {% endblock %}
