{% extends "base.html" %} {% block title %}Signup | Chatroom{% endblock %} {%
block content %}

<h1>Signup to Chatroom!</h1>

<form method="post">
  {{ form.csrf_token }}
  <label for="username" id="username">Username: {{ form.username }}</label>
  <br />
  <label for="name" id="name">Name (optional): {{ form.name }}</label>
  <br />
  <label for="password" id="password">Password: {{ form.password }}</label>
  <br />
  <label for="remember_me" id="remember_me"
    >Remember me {{ form.remember_me }}</label
  >
  <br />
  <button class="btn btn-primary" type="submit">Signup</button>
</form>

{% endblock %}
