{% extends "base.html" %} {% block title %}Signup | Chatroom{% endblock %} {%
block content %}

<h1>Signup to Chatroom!</h1>

<form method="post" action="/signup">
  {{ form.csrf_token }} {{ render_field(form.username) }} {{
  render_field(form.name) }} {{ render_field(form.email) }} {{
  render_field(form.password) }}
  <br />
  <label for="remember_me" id="remember_me"
    >Remember me {{ form.remember_me }}</label
  >
  <br />
  <button class="btn btn-primary" type="submit">Signup</button>
</form>

{% endblock %}
