{% extends 'base.html' %} {% block title %}My Chats{% endblock %} {% block
content %}

<!--
<script>
  function showCreateChatModal() {
    const createChatModal = document.getElementById("create-chat-modal");
    if (createChatModal.style.display == "none") {
      createChatModal.style.display = "block";
    } else {
      createChatModal.style.display = "none";
    }
  }
</script>
-->

<h1>My Chats</h1>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#create-chat-modal"
>
  <i class="fa-solid fa-plus"></i> Create chat
</button>

<div
  id="create-chat-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="createChatModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="createChatModalTitle">Create chat</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('chats_main.create_chat') }}">
          <label for="chat_name" id="chat_name"
            >Chat name: {{ form.name }}</label
          >
          <br />
          <label for="chat_description" id="chat_description"
            >Chat description (optional): {{ form.description }}</label
          >
          <br />
          <button type="submit" class="btn btn-primary">Create chat</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<br />

{% if len(joined_chats) > 0 %}
<div id="joined-chats">
  {% for joined_chat in joined_chats %}
  <div class="card" id="chat">
    <h3 class="chat_name">
      <a
        href="{{ url_for('chats_main.chat_page', chat_name=joined_chat.chat_name)}}"
      >
        {{ joined_chat.chat_name }}
      </a>
    </h3>
    <p class="chat_description">{{ joined_chat.chat_description }}</p>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No chats yet. Join one to get started!</p>
{% endif %}

<p>
  <a href="{{ url_for('chats_all.all_chats') }}"
    >View all chats <i class="fa-solid fa-arrow-right"></i
  ></a>
</p>

{% endblock %}
