.btn {
  border: 2px var(--primary) solid;
  border-radius: var(--btn-roundness);
  trasition: var(--btn-bg-trans);
  color: var(--primary);
}

.btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transform: var(--btn-hover-scale);
}
