.btn,
input,
select,
option,
textarea {
  border: 2px var(--primary) solid;
  border-radius: var(--btn-roundness);
  transition: var(--btn-bg-trans-duration);
  background-color: var(--secondary);
  color: var(--primary);
}

.btn:hover,
input:hover,
select:hover option:hover,
textarea:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transform: scale(var(--btn-hover-scale));
}
