:root {
  /* Colours */
  --primary: black; /* Main text */
  --secondary: white; /* Background colour */
  --links-colour: #0066ff; /* For links */
  --links-hover-colour: grey;
  --links-visited-colour: grey;

  /* Other variables */
  --btn-hover-scale: 1.1;
  --btn-roundness: 5px;
  --btn-bg-trans-duration: 0.2s;
}
