:root {
  /* Colours */
  --primary: black; /* Main text */
  --secondary: white; /* Background colour */
  --tertiary: #0066ff; /* For links */

  /* Other variables */
  --btn-hover-scale: 1.1;
  --btn-roundness: 5px;
}
