<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/style.css" type="text/css" rel="stylesheet" />
  <link href="/static/fontawesome-free-6.7.2-web/css/fontawesome.css" rel="stylesheet" type="text/css">
  <link href="/static/fontawesome-free-6.7.2-web/css/brands.css" rel="stylesheet" type="text/css">
  <link href="/static/fontawesome-free-6.7.2-web/css/solid.css" rel="stylesheet" type="text/css">
</head>
<body>
  {% include "components/header.html" %}

  <div class="flashed_messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {% set css_class = message.split('|')[0] %}
          {% set message_content = message.split('|')[1] %}
          <div class="flashed_message">
            <p class="flash {{ css_class }}">{{ message_content }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  
  {% block content %}
  {% endblock %}

  {% include "components/footer.html" %}
</body>
</html>