{% extends "base.html" %}

{% block title %}Signup | Chatroom{% endblock %}

{% block content %}

<h1>Login to Chatroom!</h1>

<form action="/student/login" method="post">
    <label for="username">
        Username:
        <input name="username" type="text"  maxlength="15" required />
    </label>
    <br />
    <label for="name">
        Name (optional):
        <input name="name" type="text" maxlength="30" />
    </label>
    <br />
    <label for="password">
        Password:
        <input name="password" type="password" maxlength="30" required />
    </label>
    <br />
    <button class="btn btn-primary" type="submit">Signup</button>
</form>

{% endblock %}